@font-face {
  font-family: Roboto;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../../../public/fonts/subset-Roboto-Bold.woff2") format("woff2"),
    url("../../../public/fonts/subset-Roboto-Bold.woff") format("woff");
}

@font-face {
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../../../public/fonts/subset-Roboto-Regular.woff2") format("woff2"),
    url("../../../public/fonts/subset-Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../../../public/fonts/subset-Roboto-Light.woff2") format("woff2"),
    url("../../../public/fonts/subset-Roboto-Light.woff") format("woff");
}
